
@model PizzaCategories


<div class="container">

    <div class="d-flex align-items-center">
        <h1 class="text-center mb-4">Stai inserendo una nuova Pizza</h1>
    </div>

    <form asp-controller="Pizza" asp-action="Create" method="post">  
        @Html.AntiForgeryToken()

        <div class="mb-4">
            <h3>Nome: </h3>
            <input asp-for="Pizza.Nome" />
            <span asp-validation-for="Pizza.Nome"></span>
                    
        </div>

        <div class="mb-4">
            <h3>Descrizione: </h3>
            <input asp-for="Pizza.Descrizione" />
            <span asp-validation-for="Pizza.Descrizione"></span>
                    
        </div>

        <div class="mb-4">
            <h3>Immagine: </h3>
            <input asp-for="Pizza.Immagine" />
            <span asp-validation-for="Pizza.Immagine"></span>
                    
        </div>

        <div class="mb-4">
            <h3>Prezzo: </h3>
            <input asp-for="Pizza.Prezzo"/>
            <span asp-validation-for="Pizza.Prezzo"></span>
                    
        </div>

        <div class="mb-4">
            <strong>Categoria: </strong>
            <select asp-for="Pizza.CategoryId">

                @foreach (Category category in Model.Categories)
                {

                    <option value="@category.Id">@category.Titolo</option> 
                    
                }

            </select>
            <span asp-validation-for="Pizza.CategoryId"></span>
        </div>

        <div>
            <input class="btn submit-button" type="submit" value="Salva"/>
        </div>
    </form>
</div>